URxvt.background: [80]#000000
URxvt.depth: 32
URxvt.scrollBar: false
URxvt.foreground: [100]#D4D4D4
URxvt.font: xft:monaco:size=14
URxvt.iso14755: false 
URxvt.iso14755_52: false

URxvt.color0: #646464
URxvt.color1: #F58E8E
URxvt.color2: #A9D3AB
URxvt.color3: #FED37E
URxvt.color4: #7AABD4
URxvt.color5: #D6ADD5
URxvt.color6: #79D4D5
URxvt.color7: #D4D4D4
URxvt.color8: #646464
URxvt.color9: #F58E8E
URxvt.color10: #A9D3AB
URxvt.color11: #FED37E
URxvt.color12: #7AABD4
URxvt.color13: #D6ADD5
URxvt.color14: #79D4D5
URxvt.color15: #D4D4D4
URxvt.keysym.Shift-Control-V: eval:paste_clipboard 
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
